@import "./scsspages/index";
@import "./scsspages/portfolio";
@import "./scsspages/aboutme";
@import "./scsspages/myskills";
@import "./scsspages/contact";
@import "./scsspages/variables";
@import "./scsspages/animaciones";

/*Star*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

/*Html*/
html{
    font-size: $font-size;
}

/*Body*/
body{
    overflow-x: hidden;
    background: #0D1117;
    color: #c9d1d9;
}

/*Container*/
.container-settings{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
}

/*Nav-bar*/
.navbar-settings{
animation-duration: 0.5s;
    background: #181c229a;
    backdrop-filter: blur(1px);
    box-shadow: 0 10px 70px 0.5px rgba(255, 255, 255, 0.2) ;
    .navbar-title{
    animation-duration: 1s;
    font-weight: 400;
    font-size: 2.5rem;

    .navbar-title--span{
        color: $colorbase;
        font-weight: 700;
        animation: logo 2.4s ease-in infinite;
    }
        .navbar-icon{
        font-size: 3rem;
        font-weight: 700;
        color: $colorbase;
        animation: logo 2.5s ease-in infinite;
        }
    }
    .navbar-menu{
        li{
            margin-left: 1rem;
            margin-right: 1rem;
            a{
                font-size: 1.3rem;
            }
        }
    }
}

/*Footer*/
.icon-settings{
    background: #0D1117;
    color: rgba(134, 126, 126, 0.356);
    font-size: 3rem;
}






