@import "variables"; 
@import "animaciones";

.aboutme-item{
    height: 95%;
    width: 80%;
    background: $colorbase;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(112, 18, 199, 0.7);
    border-left: 1px solid rgba(112, 18, 199, 0.7);
    border-right: 1px solid rgba(112, 18, 199, 0.7);
    border-bottom: 5px solid rgba(112, 18, 199, 0.7);
    .aboutme-title{
        font-size: 3rem;
    }
    div{
        animation-duration: 2s;
    .aboutme-icon{
        font-size: 10rem;
    }
    }
    .aboutme-text-dev{
        font-weight: bold;
        font-size: 2.5rem;
        color: rgb(95, 14, 170);
    }
    .aboutme-text{
        font-weight: 500;
        font-size: 3rem;
    }
    .aboutme-button{
        height: 5rem;
        width: 15rem;
        background: #c9d1d9;
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        border-left: 1px solid rgba(0, 0, 0, 0.7);
        border-right: 1px solid rgba(0, 0, 0, 0.7);
        border-bottom: 5px solid rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;   
        color: $colorbase;
        font-weight: 600;
        transition: 0.4s;
        font-size: 2rem;
    }
    
    .aboutme-button:active{
        opacity: 0.8;
    }
}

