@import "variables"; 
@import "animaciones";

.myskills-item{
    height: 95%;
    width: 75vw;
    background: $colorbase;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(112, 18, 199, 0.7);
    border-left: 1px solid rgba(112, 18, 199, 0.7);
    border-right: 1px solid rgba(112, 18, 199, 0.7);
    border-bottom: 5px solid rgba(112, 18, 199, 0.7);
    .myskills-title{
        font-size: 3rem;
        font-weight: 700;
    }
    .miskills-elements{
    .miskills-icons{
        font-size: 4rem;
        color: #c9d1d9;
    }
    }
}