@import "variables"; 
@import "animaciones";

.aboutme-item{
    min-height: 95%;
    min-width: 85vw;
    background: $colorbase;
    border-radius: 0.5rem;
    border-top: 2px solid rgba(152, 150, 157, 0.7);
    border-left: 2px solid rgba(152, 150, 157, 0.7);
    border-right: 2px solid rgba(152, 150, 157, 0.7);
    border-bottom: 8px solid rgba(0, 0, 0, 0.6);
    .aboutme-title{
        font-size: 3.5rem;
        text-align: center;
    }
    .aboutme-subtitle{
        font-size: 2.5rem;
    }
    .aboutme-img-container{
        height: 21rem;
        width: 21rem;
        border-radius: 50rem;
        display: flex;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        margin: 3rem;
        box-shadow: 0 15px 20px 0.5px rgba(0, 0, 0, 0.7);  
        .aboutme-img{
            height: 22rem;
            width: 22rem;
            border-radius: 50rem;
        }
    }
    .aboutme-text{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .aboutme-button{
        min-width: 10vw;
        background: rgba(112, 18, 199, 0.7);
        border-bottom: 5px solid rgba(0, 0, 0, 0.6);
        border-radius: 0.5rem;
        box-shadow: 0 15px 20px 0.5px rgba(0, 0, 0, 0.7); 
        color: $colorbase;
        font-weight: 600;
        transition: 0.4s;
        font-size: 2rem;
    }
    .aboutme-button:active{
        opacity: 0.8;
    }
}

