@import "variables"; 
@import "animaciones";

/*Main*/

/*Content*/
.article-settings{
    .article-title--1{
    font-weight: 400;
    font-size: 2rem;
    }
    .article-title--2{
    font-weight: 700;
    font-size: 6rem;
    }
    .article-title--3{
    font-weight: 400;
    font-size: 3rem;
    }
    .article-title--4{
    font-weight: 700;
    color: $colorbase;
    }
    .article-text{
    border: 1px solid $colorbase;
    border-radius: 3rem;
    font-weight: 400;
    text-align:start;
    font-size: 3rem;
}
}

/*Button*/
.button{
    height: auto;
    width: auto;
    padding: 1rem;
    background:rgb(154, 56, 247);
    border-bottom: 5px solid rgba(112, 18, 199, 0.7);
    border-radius: 0.5rem;
    font-size: 3rem;
    box-shadow: 0 10px 20px 0.5px rgba(100, 91, 91, 0.2); 
    color: #c9d1d9;
    font-weight: 600;
    transition: 0.4s;
}
.button:active {
    background: rgb(112, 18, 199);
    transition: 0.4s;
}

